{% macro img(img, value) %}
    <div class="col-6 mb-3">
        <img width="35" src="{{ img }}"> {{ value }}
    </div>
{% endmacro %}

<div class="container">
    <div class="row align-items-center">

        {% if icon is defined %}
            <div class="col-6 mb-3">
                <span>Aujourd'hui :</span>
            </div>
            <div class="col-6 mb-3">
                <img width="35" src="{{ asset(icon) }}"> {{ day.temp.day|round(1)~'°C' }}
            </div>
        {% endif %}

        {% if day.temp.min is defined %}
            {{ _self.img(asset('cute-weather/png/009-thermometer.png'), day.temp.min|round(1)~'°C') }}
        {% endif %}
        {% if day.temp.max is defined %}
            {{ _self.img(asset('cute-weather/png/010-thermometer.png'), day.temp.max|round(1)~'°C') }}
        {% endif %}
        {% if day.sunrise is defined %}
            {{ _self.img(asset('cute-weather/png/015-sunrise.png'), day.sunrise|date('H\\hi')) }}
        {% endif %}
        {% if day.sunset is defined %}
            {{ _self.img(asset('cute-weather/png/016-sunset.png'), day.sunset|date('H\\hi')) }}
        {% endif %}
        {% if day.wind_speed is defined %}
            {{ _self.img(asset('cute-weather/png/012-windy.png'), day.wind_speed|round(1)~" m/s") }}
        {% endif %}
        {% if day.humidity is defined %}
            {{ _self.img(asset('cute-weather/png/030-raindrops.png'), day.humidity|round(1)~" %") }}
        {% endif %}
        {% if day.uvi is defined %}
            {{ _self.img(asset('cute-weather/png/017-heatwave.png'), day.uvi|round(1)~ ' UV') }}
        {% endif %}
        {% if day.rain is defined %}
            {{ _self.img(asset('cute-weather/png/004-rain.png'), day.rain|round(1)~" mm") }}
        {% endif %}
    </div>
</div>

